body {
    padding: 2em;
    padding-top: 0em;
    padding-bottom: 0em;
    /* shared with all pages */
    background-color: #031423;
    margin: 0px auto;
    width: 80%;
    /* border: 2px solid white; */
}

/* -------------------------------start of header-------------------------------- */

header {
    margin: auto;
    /* width: 95%; */
    border-bottom: 0.3em solid #ee4848;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px
}

.headleft {
    margin: 0em;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 0.9em; */
    color: rgb(231, 146, 21);
    display: inline-block;
    width: 10%;
}

#headright {
    margin-top: 2em;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(231, 146, 21);
}

.loginsignup {
    color: rgb(231, 146, 21);
}

.loginsignup:hover {
    color: #ee4848;
}

.loginsignup:active {
    color: darkred;
}

#logoimg {
    position: relative;
    /* top: 0.3em; */
    width: 95%;
    /* margin-left: 25px; */
}
/* -------------------------------end of header-------------------------------- */

.logindetail {
    text-align: center;
    /* display: inline-block; */
    width: 75%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4em auto;
    border:  0.2em solid rgb(231, 146, 21);
}

#title {
    margin-top: 0em;
    margin-bottom: 3em;
    padding-left: 0.5em;
    font-weight: bolder;
    background-color:rgb(231, 146, 21);
    text-align: left;
}

.logguide {
    color:blanchedalmond;
}

#loginemail {
    text-align: center;
    color: rgb(23, 23, 16);
    border-radius: 1em;
    width: 40%; height: 2em;
}

#loginpass {
    text-align: center;
    color: rgb(23, 23, 16);
    border-radius: 1em;
    width: 40%; height: 2em;
}

#loginbtn {
    border: 2px rgb(229, 225, 225) solid;
    border-radius: 1em;
    font-size: 1em;
    font-weight: bolder;
    background-color: aqua;
    padding: 0.3em 1em;
    margin: 2em 0em;
    cursor: pointer;
}

#loginbtn:hover {
    background-color: rgb(162, 239, 239);
}

#sorry {
    color:rgb(255, 255, 255);
    margin-top: 0em;
    margin-bottom: 1.5em;
    font-weight: bolder;
    background-color:rgb(231, 146, 21);
    text-align:center;
}

p.logguide {
    text-align: justify;
    padding: 0em 1.5em;
    font-size: larger;
}